<div class="hero-unit">

<h1>Welcome to One Month Rails !</h1>

<p>
	You've foudn the home page for the 
	<%= link_to "One Month Rails", "http://www.google.com" %>
	application.

</p>

<p>
	<%= link_to "Sign Up Now!", "http://www.yahoo.com", class: "btn btn-primary btn-large" %>
</p>

</div>
